<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>

	<connectionString>
		<add name="MemberContext" connectionString="Data Source = DESKTOP-13123BI; Initial Catalog = memberdb; Integrated Security = true" providerName="System.Data.SqlClient"></add>
	</connectionString>
	
</configuration>